.web-footer {
    box-sizing: border-box;
    background: fade-out($color-brown-bronze, 0.12);
    color: $color-silver;
    text-align: center;
    padding: 15px;
    
    &:hover{
        background: $color-brown-bronze;
    }
    
    position: fixed;
    bottom: 0px;
    width: 100%;

    .web-title {
        font-size: $font-size-large;
        font-weight: bold;
        text-transform: uppercase;

        .rights {
            font-weight: normal;
            font-size: $font-size-base;
            padding-left: 10px;
        }
    }

    .click {
        margin-left: -220px;
    }

    a {
        text-decoration: none;
        color: $color-silver;
        padding-right: 15px;   
    }
}