
<form novalidate class="meal-form ideal" action="">

    <div class="ui-status error">Se ha producido un error</div>

    <div class="ui-status loading">Guardando comida ...</div>

    <div class="ui-status ideal">
        <div class="form-control-group">
            <label for="name">Name</label>
            <input id="name" type="text" name="name" placeholder="Enter meal name" required>
        </div >

        <div class="form-control-group">
            <label for="type">Type</label>
            <input id="type" type="text" name="Type" placeholder="Enter meal type" required>
        </div>
       
        <div class="form-control-group">
            <label for="picture">Comment</label>
            <input class="picture" id="picture" type="text" name="picture" placeholder="http://...">
        </div>
        <div class="form-control-group">
                <button> Save meal</button>
        </div>
              
    </div>
</form>