<div class="bloque container">
    <div class="steps-container">
        
        <div class="paso-item uno">
            <div class="informacion">
                <h2 class="numero">Paso 1</h2>
                <small class="subtitulo">Preparar los ingredientes</small>
                <p class="texto">En primer lugar necesitaremos tener disponibles los siguientes <span class="bold"> ingredientes</span>:
                </p>
                <ul>
                    <li>125g <span class="cursiva"> (5 barritas) </span> de chocolate negro, por ejemplo
                        <a class="nestle" href="https://www.chocolatesnestle.es/tu-busqueda/tipo/chocolate-negro" target="_blank"> 
                        Chcolate Negro Nestle
                        </a>
                    </li>
                    <li>3 huevos</li>
                    <li>100g de azucar</li>
                    <li>3 cucharadas soperas de leche</li>
                    <li>126g de mantequilla</li>
                    <li>1/2 sobrecito de levadura</li>
                    <li>70g de harina</li>
                    <li>1 cuchara sopera de
                        <a class="chocolate" href="https://www.agustoconlavida.es/marcas/nesquik/605" target="_blank"> 
                        Nesquik</a> o
                        <a class="chocolate" href="https://www.colacao.es/" target="_blank"> 
                            Colacao</a>
                        </li>
                    <li>1 puñadito de nueces troceadas</li>
                </ul>
            </div>
            <img class="img-steps" src="./img/bpaso1.jpg" alt="">
        </div>

        <div class="paso-item dos">
            <div class="informacion">
                <h2 class="numero">Paso 2</h2>
                <small class="subtitulo">Chocolate y mantequilla</small>
                <p class="texto"><span class="bold"> Fundir</span> en el micro el <span class="bold"> chocolate negro</span> con la 
                    <span class="bold"> mantequilla</span> <span class="cursiva"> (aprox. 3 minutos) </span>, hasta que se pueda batir sin dificultad.
                </p>
            </div>
            <img class="img-steps" src="./img/bpaso2.jpg" alt="">
        </div>

        <div class="paso-item tres">
            <div class="informacion">
                <h2 class="numero">Paso 3</h2>
                <small class="subtitulo">Huevos y azucar</small>
                <p class="texto">Mientras se funden el chcolate negro
                    y la mantequilla, <span class="bold"> batimos</span> los <span class="bold"> huevos</span> y el <span class="bold"> azucar</span> en otro cuenco.
                    Ahora <span class="bold"> mezclamos</span> bien la mantequilla y el chocolate, que ya habiamos fundido,
                    con la mezcla del azucar y los huevos.
                </p>
            </div>
            <img class="img-steps" src="./img/bpaso3.jpg" alt="">
        </div>
        <div class="paso-item cuatro">
            <div class="informacion">
                <h2 class="numero">Paso 4</h2>
                <small class="subtitulo">Mezclar</small>
                <p class="texto">Ahora añadimos a la mezcla el resto de ingredientes: Añadimos los <span class="cursiva"> 70g </span> de <span class="bold"> harina</span>,
                    el <span class="cursiva"> 1/2  </span>sobrecito de <span class="bold"> levadura</span>, las <span class="cursiva"> 3 </span> cucharadas soperas de <span class="bold"> leche</span>y las <span class="bold"> nueces</span>.
                </p>
            </div>
            <img class="img-steps" src="./img/bpaso4.jpg" alt="">
        </div>
        <div class="paso-item cinco">
            <div class="informacion">
                <h2 class="numero">Paso 5</h2>
                <small class="subtitulo">Poner un molde</small>
                <p class="texto">Una vez este todo <span class="bold"> bien batido</span> y nos haya quedado la masa sin grumos,
                    lo <span class="bold"> ponemos</span> todo <span class="bold"> en un molde</span>, mejor de silicona, que previamente habremos untado de mantequilla.
                </p>
            </div>
            <img class="img-steps" src="./img/bpaso5.jpg" alt="">
        </div>
        <div class="paso-item seis">
            <div class="informacion">
                <h2 class="numero">Paso 6</h2>
                <small class="subtitulo">¡Disfrutalo!</small>
                <p class="texto">Lo ponemos en el <span class="bold"> microondas</span> <span class="cursiva"> 5 minutos y medio  </span>
                    a una potencia de <span class="cursiva"> 750W </span> . Dejamos que <span class="bold"> repose en la nevera</span> unos minutos,
                    para no quemarnos, lo servimos cortadito en dados y ...
                    <span class="bold upper"> ¡a disfrutar!</span>
                </p>
            </div>
            <img class="img-steps" src="./img/bpaso6.jpg" alt="">
        </div>
    </div>

    <div class="type-step">
        <h1>Brownie</h1>
        <p class="subtituloTipo" >Postre</p>
    </div>
</div>
